.info-box-item {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  border-bottom: 0.1rem solid #d7d7d7;
  margin-bottom: 0.5rem;
  color: rgb(71, 71, 71);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.silent {
  color: #999;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
