REACT_APP_SEARCH_API_ENDPOINT = https://yfapi.net/v6/finance/autocomplete?region=US&lang=en&query=
REACT_APP_STOCK_API_ENDPOINT = https://yfapi.net/v6/finance/quote?region=US&lang=en&symbols=

REACT_APP_API_KEY = /*GET YOUR API KEYS FROM financeapi.net*/
REACT_APP_API_KEY_TWO = /*GET YOUR API KEYS FROM financeapi.net*/
REACT_APP_API_KEY_THREE = /*GET YOUR API KEYS FROM financeapi.net*/