table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 2rem 0;
  color: #212529;
  font-size: 0.875rem;
  line-height: 1.5rem;
  background-color: transparent;
  border-color: #dee2e6;

  th,
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  th {
    text-align: inherit;
  }

  td:nth-child(-n + 3),
  th:nth-child(-n + 3) {
    width: 30%;
  }

  td:last-child,
  th:last-child {
    width: 10%;
    text-align: center;
  }
}
